@model Loja.Dominio.Entidades.Categoria

@{
    ViewData["Title"] = "DeletarCategoria";
}

<h1>Deletar Categoria</h1>

<h3>Você tem certeza que deseja deletar essa Categoria?</h3>
<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
    </dl>
    
    <form asp-action="DeletarCategoria" asp-route-id="model.Codigo">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-warning">Voltar</a>
    </form>
</div>
