@model Loja.Dominio.Entidades.Categoria

@{
    ViewData["Title"] = "Detalhes da Categoria";
}

<h1>Detalhes da Categoria</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
    </dl>
</div>
<div> 
    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Voltar</a>
</div>
